.navbar {
  background-color: #33cc99;
  overflow: hidden;
  padding: 10px;
  margin: -8px;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

/*Cho form ra giua*/

form {
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.form-group {
  max-width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.form-group button {
  background-color: #33cc99;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
