doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lab5
    link(rel="stylesheet", href="/css/shop.css")
  body
    nav.navbar
      ul
        li
          a(href="/") Shop
        li
          a(href="/addproduct") Add Product
